.homePage {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homePage_container {
  color: white;
  margin: 10px;
}
.homePage_container h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.homePage_container p {
  margin-bottom: 15px;
}
.homePage_container p:last-child {
  margin-top: 15px;
}
